[submodule "site-lisp/color-theme"]
	path = site-lisp/color-theme
	url = git://github.com/jwiegley/color-theme.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
